PORT=4000
WEBAPP_URL=http://localhost:5173
API_URL=http://localhost:4000
ISSUER=https://localhost/t/demo
CLIENT_ID=financial-example
CLIENT_KEY_ID=financial-example-key
CLIENT_PRIVATE_KEY_JWK={}
RESOURCE=http://localhost:4000
SCOPES=openid accounts:read accounts:write
COOKIE_SECURE=false
